.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

build/
cache/
artifacts/*
!artifacts/build-info/
!artifacts/contracts/
!artifacts/imports/

coverage*
.coverage*
smartcheck*
flattened/
docs/

ganache.log

yarn-error.log
node_modules/

.DS_Store
